$button-hover-type: 'darken';
$button-hover-amount: 10%;

$color-a: #1a93f0;
$color-entrar: #0be37e;
$color-google: #1a202c;


$theme-colors: () !default;
$theme-colors: map_merge(
                (
                    'entrar': $color-entrar,
                    'google': $color-google,
                    'lightblue': $color-a, 
                ), $theme-colors
                );