@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&display=swap');


main {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 0px;
}

a {
    text-decoration: none;
    color: $color-a;
}

.container_image{
    background-color: #f7fafc;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 400px;
    }
}

.container_login{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.form_content{
    width: 347px;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

        label {
            padding: 11px 0px;
    
        } #email, #senha{
            width: 350px;
        }   
}

.cadastro {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0px;
    margin-bottom: 50px;

    
}

